
.table {
	display:table;
}
.center {
	margin: 0 auto;
}
.center-text {
	text-align:center;
}

.no-height {height:1px;}

.no-padding {padding:0 !important;}



@mixin mobile-container {
	width: $mobile-container-width;
	margin:0 auto;
}

@mixin transition($speed, $attribute, $easing:"") {
	-o-transition: $speed unquote($easing) $attribute;
    -ms-transition: $speed unquote($easing) $attribute;
    -moz-transition: $speed unquote($easing) $attribute;
    -webkit-transition: $speed unquote($easing) $attribute;
    transition: $speed unquote($easing) $attribute;
}
