//Skeleton Breakpoints (min-widths)
$desktophd: 1200px;
$desktop: 1000px;
$tablet: 750px;
$phablet: 550px;
$mobile: 400px;

$mobile-container-width: 96%;

$primary: #0A1661; //navy
$inverted: #fff;
$primary-dark:#333;
$primary-light:#ccc;

$font: 'Raleway', 'sans-serif';

$borderRadius: 4px;

$circle-width:60px;

