//Skeleton Breakpoints (min-widths)
$desktophd: 1200px;
$desktop: 1000px;
$tablet: 750px;
$phablet: 550px;
$mobile: 400px;

$primary: #50E3C2; //aqua
$primary: #F1457D; //pink
$inverted: #fff;
$primary-dark:#333;
$primary-light:#ebebeb;

$font: 'Raleway', 'sans-serif';

$borderRadius: 10px;

$circle-width:45px;

$sliderHeight: 20px;

$footerHeight:60px;