.content {
  margin-top: 20px;
}

/* ===== Helpers ===== */

.clickable {
	cursor:pointer;
}

/* ===== UI ===== */

button {
	display:block;
}

/* ===== Question Box ===== */

.questionBox {
 	.title {}
 	.submitTime {}
 	.answerBox {
 		.text {}
 	}
 	.submitter {}
 	.upvotes {
 		.number {}
 	}
 	.options {
 		.fa {}
 	}
}

.approved-true {
	border:dotted green 1px;
}



.approved-false { 
	.title,
	.submitTime,
	.answer,
	.submitter,
	.upvotes,
	.options {
		color:#ccc;
	}
}
.admin.approved-false { 

	border:solid red 1px;
	
}


/* ===== Question Form ===== */

.questionForm {
	
}

/* ===== /Admin ===== */

.adminOptions {
	button {
		display:inline;
		margin:1em 1em 0 0;
	}
}

.hidden {
	display:none;
}

.visible {
	display:block;
}